.image
{
    width: 220px;
    height: 220px;
    background-image: url("user3.png");
}

body
{
    background-color: cadetblue;
}

.whitebox
{
    background-color: rgb(3, 102, 133);
    height:220px;
    width: 220px;
    margin: 10px;
    display: inline-block;
}

.hold
{
    border: black solid 1px;
    border-radius: 10px;
}





